@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);





body {
  font-family: Open Sans;
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.2;
}
.mbr-text {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-sub-title {
  line-height: 1.7;
}
.mbr-normal {
  font-weight: 400;
}
.display-1 {
  font-family: 'Comfortaa', display;
  font-size: 2.8rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.48rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Comfortaa', display;
  font-size: 1.5rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Comfortaa', display;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  border-radius: 0;
  font-weight: 600;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 0px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-sm {
  font-weight: 600;
  letter-spacing: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  font-weight: 600;
  letter-spacing: 0px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  font-weight: 600;
  letter-spacing: 0px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 20px 20px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #ff4a52 !important;
}
.bg-success {
  background-color: #7242d6 !important;
}
.bg-info {
  background-color: #48d678 !important;
}
.bg-warning {
  background-color: #d63d3d !important;
}
.bg-danger {
  background-color: #ececec !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ff4a52 !important;
  border-color: #ff4a52 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #fd000b !important;
  border-color: #fd000b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #fd000b !important;
  border-color: #fd000b !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #1ec6b6 !important;
  border-color: #1ec6b6 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #148479 !important;
  border-color: #148479 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #148479 !important;
  border-color: #148479 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #48d678 !important;
  border-color: #48d678 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #26ab53 !important;
  border-color: #26ab53 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #7242d6 !important;
  border-color: #7242d6 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #4f24a7 !important;
  border-color: #4f24a7 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #4f24a7 !important;
  border-color: #4f24a7 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #d63d3d !important;
  border-color: #d63d3d !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #a42323 !important;
  border-color: #a42323 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a42323 !important;
  border-color: #a42323 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ececec !important;
  border-color: #ececec !important;
  color: #6d6d6d !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #e3000a;
  color: #e3000a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #ff4a52;
  border-color: #ff4a52;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff4a52 !important;
  border-color: #ff4a52 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #116d65;
  color: #116d65;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #1ec6b6;
  border-color: #1ec6b6;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #1ec6b6 !important;
  border-color: #1ec6b6 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #229649;
  color: #229649;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #48d678;
  border-color: #48d678;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #48d678 !important;
  border-color: #48d678 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #452092;
  color: #452092;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #7242d6;
  border-color: #7242d6;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #7242d6 !important;
  border-color: #7242d6 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8f1e1e;
  color: #8f1e1e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #d63d3d;
  border-color: #d63d3d;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #d63d3d !important;
  border-color: #d63d3d !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #b9b9b9;
  color: #b9b9b9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #6d6d6d;
  background-color: #ececec;
  border-color: #ececec;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #6d6d6d !important;
  background-color: #ececec !important;
  border-color: #ececec !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ff4a52 !important;
}
.text-secondary {
  color: #1ec6b6 !important;
}
.text-success {
  color: #7242d6 !important;
}
.text-info {
  color: #48d678 !important;
}
.text-warning {
  color: #d63d3d !important;
}
.text-danger {
  color: #ececec !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #e3000a !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #116d65 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #452092 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #229649 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8f1e1e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b9b9b9 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #48d678;
}
.alert-warning {
  background-color: #d63d3d;
}
.alert-danger {
  background-color: #ececec;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff4a52;
  border-color: #ff4a52;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #ff4a52;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #efeafa;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #effbf3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fae5e5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #ffffff;
  box-shadow: none;
  color: #565656;
  height: auto;
  min-height: 48px;
  padding: 0.8rem;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #ff4a52;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.form1 .input-group-btn a.btn,
.form2 .input-group-btn a.btn {
  border-radius: 6px !important;
}
.form1 .input-group-btn button[type="submit"],
.form2 .input-group-btn button[type="submit"] {
  border-radius: 6px !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ff4a52;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ff4a52;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #ff4a52;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #ff4a52;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.btn {
  font-weight: 600;
}
.btn .mbr-iconfont-btn {
  -webkit-order: 1;
  order: 1;
  margin: 0!important;
  padding-left: 0.8rem!important;
}
.btn-md {
  transition: none;
  padding: 0.5rem 2rem;
}
.btn-md:hover {
  background-color: #1ec6b6 !important;
  border-color: #1ec6b6 !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff4a52;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  background: #ffffff;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff4a52;
  border-bottom-color: #ff4a52;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ff4a52 !important;
  box-shadow: none!important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #1ec6b6 !important;
  box-shadow: none !important;
}
.cid-rzxHbYjZQ5 {
  background-image: url("../../../assets/images/9e368026c0388e9f07b90c7e97919773-2000x3000.jpg");
}
.cid-rzxHbYjZQ5 .mbr-section-title {
  text-align: left;
}
.cid-rzxHbYjZQ5 .mbr-text,
.cid-rzxHbYjZQ5 .mbr-section-btn {
  text-align: left;
}
.cid-rzxWU9F89n {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #333333;
}
.cid-rzxWU9F89n .card-img span {
  color: #ffffff;
  font-size: 4.2rem;
}
.cid-rzxWU9F89n .mbr-text {
  color: #cccccc;
}
.cid-rzxWU9F89n p {
  margin: 0;
  line-height: 1.6;
}
@media (max-width: 576px) {
  .cid-rzxWU9F89n .card {
    margin-bottom: 2rem;
  }
}
.cid-rzxWU9F89n .mbr-section-sub-title {
  text-align: center;
  color: #ffffff;
}
.cid-rzxWU9F89n .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-rzz9bjqVeX {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-rzz9bjqVeX .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-rzz9bjqVeX .step {
  width: 48px;
  height: 48px;
  font-size: 24px;
  border-radius: 50%;
  border: 2px solid #efefef;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .cid-rzz9bjqVeX .separline .step-wrapper {
    position: relative;
  }
  .cid-rzz9bjqVeX .separline .step-wrapper:before,
  .cid-rzz9bjqVeX .separline .step-wrapper:after {
    top: 26px;
    position: absolute;
    content: "";
    height: 2px;
    width: calc(50% + 15px - 24px - 8px);
    background-color: #efefef;
  }
  .cid-rzz9bjqVeX .separline .step-wrapper:before {
    left: -15px;
  }
  .cid-rzz9bjqVeX .separline .step-wrapper:after {
    left: calc(50% + 8px + 24px);
  }
  .cid-rzz9bjqVeX .separline.last-child .step-wrapper:after,
  .cid-rzz9bjqVeX .separline:nth-child(3n) .step-wrapper:after,
  .cid-rzz9bjqVeX .separline:nth-child(3n+1) .step-wrapper:before {
    background: none;
  }
}
@media (max-width: 767px) {
  .cid-rzz9bjqVeX .card:not(.last-child) {
    padding-bottom: 1.5rem;
  }
}
.cid-rzzt7QZbIi {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ececec;
}
.cid-rzzt7QZbIi .card-img span {
  color: #ffffff;
  font-size: 4.7rem;
}
.cid-rzzt7QZbIi .mbr-text {
  color: #cccccc;
}
.cid-rzzt7QZbIi p {
  margin: 0;
  line-height: 1.6;
}
@media (max-width: 576px) {
  .cid-rzzt7QZbIi .card {
    margin-bottom: 2rem;
  }
}
.cid-rzzt7QZbIi .mbr-section-sub-title {
  text-align: center;
  color: #ffffff;
}
.cid-rzzt7QZbIi .mbr-section-title {
  text-align: center;
  color: #232323;
}
.cid-rzzuwJaB5I {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-rzzuwJaB5I .media-container-row {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.cid-rzzuwJaB5I .list-group-item {
  padding: .5rem 2rem;
}
.cid-rzzuwJaB5I .plan {
  background: #ffffff;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
}
.cid-rzzuwJaB5I .plan .plan-title {
  margin-left: 3rem;
  margin-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #9e9e9e;
}
.cid-rzzuwJaB5I .plan .plan-price {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
.cid-rzzuwJaB5I .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
  background: none;
}
.cid-rzzuwJaB5I .plan .list-group-item:last-child::after {
  display: none;
}
.cid-rzzuwJaB5I .plan .mbr-section-btn a {
  margin-bottom: 0;
}
.cid-rzzuwJaB5I .plan .plan-body {
  position: relative;
  padding-bottom: 3rem;
}
.cid-rzzuwJaB5I .plan-header {
  padding-bottom: 1rem;
  position: relative;
}
.cid-rzxJ3qoFKA {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rzxJ3qoFKA .card-title {
  line-height: 1.6;
  margin: 0;
}
.cid-rzxJ3qoFKA .card {
  overflow: visible;
  transition: all 0.3s;
}
.cid-rzxJ3qoFKA .card:hover {
  margin-top: -0.6rem;
}
.cid-rzxJ3qoFKA .card-wrapper {
  position: relative;
}
.cid-rzxJ3qoFKA .card-img {
  overflow: hidden;
  position: relative;
  transition: all 0.3s;
  border-radius: 6px;
}
.cid-rzxJ3qoFKA .card-img:hover {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}
.cid-rzxJ3qoFKA .card-img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  background: black;
  opacity: 0.2;
  z-index: 10;
  pointer-events: none;
  border-radius: 6px;
}
.cid-rzxJ3qoFKA .big {
  margin-top: -25%;
}
.cid-rzxJ3qoFKA .card-box {
  position: absolute;
  overflow: hidden;
  margin-bottom: -8px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 100;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 991px) {
  .cid-rzxJ3qoFKA .small {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .cid-rzxJ3qoFKA .card:not(.last-child) {
    padding-bottom: 1.5rem !important;
  }
}
.cid-rzxJ3qoFKA .card-sub-title {
  color: #ffffff;
  text-align: left;
}
.cid-rzxT0ThB3e {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ececec;
}
.cid-rzxT0ThB3e .card-img span {
  color: #1ec6b6;
  font-size: 3.1rem;
}
.cid-rzxT0ThB3e .mbr-text {
  color: #656565;
}
.cid-rzxT0ThB3e p {
  margin: 0;
}
@media (max-width: 576px) {
  .cid-rzxT0ThB3e .card {
    margin-bottom: 2rem;
  }
}
.cid-rzxT0ThB3e .card-title,
.cid-rzxT0ThB3e .card-img {
  color: #000000;
}
.cid-rzxT0ThB3e .mbr-section-title {
  text-align: center;
}
.cid-rzxT0ThB3e .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-rzy93fgOfd {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #ececec;
}
.cid-rzy93fgOfd .card-img span {
  color: #1ec6b6;
  font-size: 3rem;
}
.cid-rzy93fgOfd .mbr-text {
  color: #656565;
}
.cid-rzy93fgOfd p {
  margin: 0;
}
@media (max-width: 576px) {
  .cid-rzy93fgOfd .card {
    margin-bottom: 2rem;
  }
}
.cid-rzy93fgOfd .card-title,
.cid-rzy93fgOfd .card-img {
  color: #000000;
}
.cid-rzy93fgOfd .mbr-section-title {
  text-align: center;
}
.cid-rzy93fgOfd .mbr-section-sub-title {
  text-align: center;
  color: #9e9e9e;
}
.cid-rzD96xm6DU {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rzD96xm6DU .card-img span {
  color: #ffffff;
  font-size: 4.7rem;
}
.cid-rzD96xm6DU .mbr-text {
  color: #cccccc;
}
.cid-rzD96xm6DU p {
  margin: 0;
  line-height: 1.6;
}
@media (max-width: 576px) {
  .cid-rzD96xm6DU .card {
    margin-bottom: 2rem;
  }
}
.cid-rzD96xm6DU .mbr-section-sub-title {
  text-align: center;
  color: #ffffff;
}
.cid-rzD96xm6DU .mbr-section-title {
  text-align: center;
  color: #232323;
}
.cid-rzznDlSIzE {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rzznDlSIzE .container-fluid {
  padding: 0 3rem;
}
.cid-rzznDlSIzE .underline .line {
  width: 5rem;
  height: 3px;
  background: linear-gradient(90deg, #ff4a52, #1ec6b6);
  display: inline-block;
}
.cid-rzznDlSIzE .card {
  display: block;
}
.cid-rzznDlSIzE .card .card-wrapper {
  height: 1%;
}
.cid-rzznDlSIzE .card .card-wrapper .card-img {
  overflow: hidden;
  margin-bottom: 1rem;
  z-index: 1;
}
.cid-rzznDlSIzE .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-rzznDlSIzE .card .card-wrapper:hover img {
  -ms-transform: scale3d(1.05, 1.05, 1.05);
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
  -o-transform: scale3d(1.05, 1.05, 1.05);
  -moz-transform: scale3d(1.05, 1.05, 1.05);
  transform: scale3d(1.05, 1.05, 1.05);
  transition: all .5s;
}
.cid-rzznDlSIzE .text-row {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rzznDlSIzE .prices {
  color: #ffffff;
}
.cid-rzznDlSIzE .oldPrice {
  text-decoration: line-through;
}
.cid-rzznDlSIzE .oldPrice,
.cid-rzznDlSIzE .newPrice {
  color: inherit;
}
@media (max-width: 767px) {
  .cid-rzznDlSIzE .container-fluid {
    padding: 0 1rem;
  }
  .cid-rzznDlSIzE .text-row {
    padding-bottom: 1rem;
  }
}
.cid-rzznDlSIzE .mbr-section-title,
.cid-rzznDlSIzE .underline {
  color: #232323;
}
.cid-rzznDlSIzE .mbr-section-subtitle {
  color: #000000;
}
.cid-rzznDlSIzE .prices,
.cid-rzznDlSIzE .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-rzzbQCCvvu {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rzzbQCCvvu h4 {
  display: flex;
  color: #000000;
}
.cid-rzzbQCCvvu .panel-text {
  color: #000000;
  line-height: 1.7;
}
.cid-rzzbQCCvvu .wrap {
  display: flex;
}
.cid-rzzbQCCvvu .icon {
  background: #ff4a52;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  color: white!important;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  font-weight: 900;
}
.cid-rzzbQCCvvu img {
  max-width: 600px;
  width: 100%;
  margin: auto;
  padding: 2rem;
}
.cid-rzzbQCCvvu .mbr-section-title {
  color: #333333;
  text-align: center;
}
.cid-rzzbQCCvvu p {
  margin: 0;
}
.cid-rzzbQCCvvu .card .card-header a.panel-title {
  background-color: none!important;
  margin-top: 0px!important;
}
.cid-rzzbQCCvvu .mbr-section-subtitle {
  font-weight: 500;
  color: #656565;
  text-align: center;
}
.cid-rzzbQCCvvu .accordion-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-rzzbQCCvvu .panel-group {
  width: 100%;
}
.cid-rzzbQCCvvu .panel-title {
  border-bottom: 1px solid #ececec;
  border-radius: 0px;
  margin-bottom: .5rem;
}
.cid-rzzbQCCvvu .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-rzzbQCCvvu .card .card-header a.panel-title {
  transition: all .3s;
  background-color: #ffffff;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-rzzbQCCvvu .card .card-header a.panel-title:hover {
  opacity: 0.5;
}
.cid-rzzbQCCvvu .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rzzbQCCvvu .card .card-header a.panel-title h4 {
  padding: 1.5rem 1rem;
  margin-bottom: 0;
}
.cid-rzzbQCCvvu .card .panel-body {
  background: #ffffff;
}
.cid-rzzbQCCvvu .sign {
  color: #000000;
}
.cid-rzzbQCCvvu .media-container-row .accordion-section {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-rzzbQCCvvu .media-container-row > div {
    -webkit-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .cid-rzzbQCCvvu .mbr-figure {
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
  }
}
.cid-rzzbQCCvvu .header-text,
.cid-rzzbQCCvvu .sign {
  color: #333333;
}
.cid-rzDgPbBSk4 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
